body{
  background-image:url(../img/colosseum.jpg);
}
@font-face {
  font-family:"Raleway",sans-serif;
  src: url("24963305238.ttf"); /*Raleway*/
  color: #c4dbe7;
}

  .top-header{
    width:100%;
    font:6em "Raleway,Ital" ;
    
  }
  
h1 {
  Color: rgb(42, 90, 211);
} 
.container-1{
  display:flex;
  /*
  align-items:flex-start;
  align-items:flex-end;
  align-items:center;
  */
  flex-direction:column;
}
.container-2{
  display:flex
}
.container-1 div, .container-2 div{
  border: 1px; 
  padding: 10px;
  max-width: 850;
}
.box-1{
  flex:2;
  order:1;

}
.box-2{
  flex:2;
  order:2;
}
.container-2-box{
  width: 30%;
}
/* Media Queries*/
@media screen and (Main-width:600px){

  
}

ul li{
  list-style-type:none;
  margin-bottom: 2px;
  display:block;
  padding: 12px 12px 12px 12px;
  font-family:sans-serif; 
  background-color:rgb(231, 184, 228);
  color:#003366;
  border:4px solid rgb(14, 12, 12);
  width: 200px;
   text-align:center;
}

  *{
      margin: 0;
      padding: 0;
  }

  ul{ 
      list-style-type:none ;
      line-height: 60ox;
  }
      nav>ul>li{
          width: 100px;
          position: relative;
          Background-color: dark blue
          text-alignment center; 
      }
  

          nav>ul>li:hover>ul{
              display:block;
          }
          nav ul li a{
              text-decoration: none;
              color:black;
              display: block;
          }
          
          nav ul li a:hover{
              border: 2px solid black;
          }

  nav>ul>li>ul{
      position: relative;
      top: 0;
      left: 100%;
      display:none
  }
  /* Main Navigation */
#nav {
  position:relative;
  width:620px;
  margin:0 auto;
  margin-top:50px;
  padding:10px;
}

ul#navigation {
  margin:0px auto;
  position:relative;
  float:left;
  border-left:1px solid #c4dbe7;
  border-right:1px solid #c4dbe7;
}

ul#navigation li {
  display:inline;
  font-size:12px;
  font-weight:bold;
  margin:0;
  padding:0;
  float:left;
  position:relative;
  border-top:1px solid #c4dbe7;
  border-bottom:2px solid #c4dbe7;
}

ul#navigation li a {
  padding:10px 25px;
  color:#616161;
  text-shadow:1px 1px 0px #fff;
  text-decoration:none;
  display:inline-block;
  border-right:1px solid #fff;
  border-left:1px solid #C2C2C2;
  border-top:1px solid #fff;
  background: #36a8d9;

  -webkit-transition:color 0.2s linear, background 0.2s linear;
  -moz-transition:color 0.2s linear, background 0.2s linear;
  -o-transition:color 0.2s linear, background 0.2s linear;
  transition:color 0.2s linear, background 0.2s linear;
}

ul#navigation li a:hover {
  background:#f8f8f8;
  color:#282828;
}

ul#navigation li a.first {
  border-left: 0 none;
}

ul#navigation li a.last {
  border-right: 0 none;
}

ul#navigation li:hover > a {
  background:#fff;
}
/* Drop-Down Navigation */
ul#navigation li:hover > ul
{
/*these 2 styles are very important,
being the ones which make the drop-down to appear on hover */
  visibility:visible;
  opacity:1;
}

ul#navigation ul, ul#navigation ul li ul {
  list-style: none;
  margin: 0;
  padding: 0;
/*the next 2 styles are very important,
being the ones which make the drop-down to stay hidden */
  visibility:hidden;
  opacity:0;
  position: relative;
  z-index: 99999;
  width:180px;
  background:#f8f8f8;
  box-shadow:1px 1px 3px #ccc;
/* css3 transitions for smooth hover effect */
  -webkit-transition:opacity 0.2s linear, visibility 0.2s linear;
  -moz-transition:opacity 0.2s linear, visibility 0.2s linear;
  -o-transition:opacity 0.2s linear, visibility 0.2s linear;
  transition:opacity 0.2s linear, visibility 0.2s linear;
}

ul#navigation ul {
  top: 43px;
  left: 1px;
}

ul#navigation ul li ul {
  top: 0;
  left: 181px; /* strong related to width:180px; from above */
}

ul#navigation ul li {
  clear:both;
  width:100%;
  border:0 none;
  border-bottom:1px solid #c9c9c9;
}

ul#navigation ul li a {
  background:none;
  padding:7px 15px;
  color:#616161;
  text-shadow:1px 1px 0px #fff;
  text-decoration:none;
  display:inline-block;
  border:0 none;
  float:left;
  clear:both;
  width:150px;
}
*{
  margin: 0;
  padding: 0;
}
.wrapper{
  margin:0 auto;
  width:10px;
}
.img-Colosseum{
  width: -80px;
  height: -80px;
  background-image:url(Colosseum.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.img-Me{
  
}






  
  
  
  
