*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family:"Raleway",sans-serif;
  src: url("24963305238.ttf"); /*Raleway*/
  text-decoration: none;
}
body{
  min-height: 100vh;
}
header{
  position:fixed;
  top:0; left:0; right:0;
  background: rgb(231, 197, 227);
  padding:0px 7%;
  display: flex;
  align-items:center;
  justify-content: space-between;
  z-index: 1000;
}
header .Home{
  font-weight:bolder;
  font-size:25px;
  color:rgb(15, 105, 230);
}
header .navbar ul{
list-style: none;
}
header .navbar ul li{
  position: relative;
  float:left;
  }
  header .navbar ul li a{
font-size: 20px;
padding: 20px;
color: rgb(15, 105, 230);
display:block;
  }

/* Style the footer */
 .footer {
   grid-area: footer;
   background-color:rgb(231, 197, 227);
   color:black;
   padding: 5px;
   text-align: left;
   font-size: 20px;
   background-image:url(GreatWall.jpeg) ;
background-repeat: none;

 }



  
  
  
  
